body{
    background-color: rgb(251, 242, 204);
}

h2{
    color: rgb(228, 155, 21);
}
h4{
    color: rgb(228, 155, 21);
    font-size: 1.8em;
    margin: 0;
    padding: 0; 
}
h1{
    margin-top: 80px;
}

p{
    margin: 0;
    padding: 0;
}

.site{
    font-size: 25px!important;
    color: rgb(42, 55, 247);
}

.br{
    display: block;
}



ul {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
    color: rgb(243, 141, 8);
}
.burger {
  position: fixed;
  background:#f1f1f1;
  border: 2px solid black;
  border-radius: 5px;
  margin: 15px;
 
  padding: 5px;
  
  top: 25px;
  right: 15px;
  z-index: 999999;
}

.navicon {
    z-index: 1;
   
  cursor: pointer;
  display: block;
  width: 45px;
  height: 4px;
  border-radius: 15px;
  background: black;
  position: relative;
}

.navicon::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: black;
  top: 12px;
  border-radius: 15px;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.navicon::after {
  content: "";
  border-radius: 15px;
  display: block;
  width: 100%;
  height: 100%;
  background: black;
  top: -12px;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.menu-btn {
  display: none;
}

.menu-icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;



}

.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after,
.menu-btn:checked ~ .menu-icon .navicon:before {
  top: 0;
}

.nav {

  position: fixed;
  right: -100%;
  width: 100%;

  color: black;
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  transition: ease-in-out 800ms;
  top: 0;
}

.nav li {
  text-transform: uppercase;
  padding: 8px 0;
}

.menu-btn:checked ~ .nav {
  right: 0;
  transition: ease-in-out 600ms;
  background:rgb(255, 253, 249);
 


}


.general{
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 15px solid rgb(241, 174, 16);
    border-radius: 90px;
    margin: 0 auto;
    padding: 2%;
    padding-bottom: 50px;
    background-color: white;
}

.profil_pic{
    margin-top: 30px;
    margin: 0 auto;
    margin-bottom: 0;
    padding:0;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
   
    font-family: 'Ibarra Real Nova', serif;
 
}
img{
    width: 100%;
    height: auto;
}
.pro_pic{
    margin-top: 30px;
    object-fit: cover;
   
}
.general_info{
    text-align: center;
    margin: 0;
    padding: 0;

}
.contact{
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Ibarra Real Nova', serif;
}

.title, .length{
    font-size: 30px;
    font-family: 'Ibarra Real Nova', serif;
    margin: 0;
    padding: 0;
    
}
.langues{
    text-align: center;
    font-size: 30px;
}
.computer_knowledge{
    width: 90%;
    margin: 0 auto;
    font-family: 'Ibarra Real Nova', serif;

}
.framework{
    text-decoration: black;
}
.fa-js-square, .fa-php, .fa-symfony, .fa-react{
    font-size: 60px;
  
}

.ck{
    font-size: 30px;
    text-align: center;
  
}
.ls{
    margin-bottom: 30px;
}
.german, .english {
    display: inline-block;
    height: 15px;
    width: 100px;
    border: 1px solid black;
    background-color: rgb(243, 141, 8);
    margin-left: 30px;
   
}
.visible{
    display: none;
    width: 550px;
    height: 450px;
}
p{
    font-size: 20px;
    font-family: 'Ibarra Real Nova', serif;
}
.logistics, .kwowhow, .languages, .pro{
    display: block;
    font-family: 'Ibarra Real Nova', serif;
    margin-bottom: 30px;
    margin-top: 0;
}

.button{
    text-align: center;
    margin-top: 30px;
}
.inside_button{
 
    margin: 0 auto;
}
.rest, .rest1{
    height: 15px;
    width: 20px;
    border: 1px solid black;
    display: inline-block;
}
.rest2{
    height: 15px;
    width: 40px;
    border: 1px solid black;
    display: inline-block;
}
.rest3{
    height: 15px;
    width: 60px;
    border: 1px solid black;
    display: inline-block;

}

.spanish {
    display: inline-block;
    height: 15px;
    width: 80px;
    border: 1px solid black;
    background-color: rgb(243, 141, 8);
    margin-left: 30px;
    
    
}
img{
    width: 55px;
    height: 50px;
    margin:0;
}
.pro_pic{
    width: 200px;
    height: 250px;
    margin:0;
    object-fit: cover;
}
.russian {
    display: inline-block;
    height: 15px;
    width: 60px;
    border: 1px solid black;
    background-color: rgb(243, 141, 8);
    margin-left: 30px;
}

.de, .en, .es, .ru{
    display: inline-block;
    width: 100px;
    margin: 0;
    padding: 0;
}
button{
    display:inline-block;
    background-color: rgb(177, 102, 5);
    height:75%;
    border: 0;
    color: white;
    font-size: 25px;
    width: 50px;
   
}
.prof, .know, .language, .formation{
   
    line-height: 55px;
  
    border: 1px solid rgb(177, 102, 5);
    margin-bottom: 30px;
    font-family: 'Ibarra Real Nova', serif;
    
   
}
*{
    box-sizing: border-box;
}
#f, #p , #c, #l{
    display: inline-block;
  
   text-align: center;
   width: 90%;
   font-size: 30px;
  
   color: black;
   font-family: 'Ibarra Real Nova', serif;
}

#slider {
    width: 80vw;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 4px;
  }
  
#slider ul {
    position: relative;
    margin: 0 auto;
    padding: 0;
    height: 500px;
    width: 80vw;
    list-style: none;
}

#slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0 auto;
    padding: 0;
    width: 80vw;
    height: 500px;
    background: rgb(255, 255, 255);
    text-align: center;
}
  
  a.control_prev, a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
  }
  
  a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
  }
  
  a.control_prev {
    border-radius: 0 2px 2px 0;
  }
  
  a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
  }

@media screen and (min-width: 1050px){

p, h2, h1{
    font-family: Arial, Helvetica, sans-serif;
}
.nav {

    position: fixed;
    right: -40%;
    width: 40%;
    min-height: 30vh;
    color: black;
    display: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    transition: ease-in-out 800ms;
    top: 0;
  }
.globalknowledge{
    margin: 0;
    padding: 0;
}

.purple_background{
    background-color: rgb(248, 188, 109);

}

.title{
    margin: 30px;
    font-size: 30px;
    font-family: 'Ibarra Real Nova', serif;
    
}

.name{
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: 'Ibarra Real Nova', serif;
    font-weight: lighter;
}
.birth{
    font-size: 25px;
    font-family: 'Ibarra Real Nova', serif;
}



.contact_title, .phone, .address{
    font-size: 30px;
    font-family: 'Ibarra Real Nova', serif;
    color: rgb(177, 102, 5)
}

.conta{
    color: blue;
}

.general{
    display: flex;
    flex-direction: row;;
    width: 80%;
    border: 15px solid rgb(231, 156, 57);
    border-radius: 90px;
    margin: 0 auto;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: white;
    
}

.profil_pic{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.pro_pic{
    margin-top: 0;
  
    padding: 0;
   object-fit: cover;
    width: 200px;
    height: 250px;
}

.general_info{
    width: 40%;
  
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact{
    width: 25%;
}

.langues{
    text-align: center;
    font-size: 40px;
}

.computer_knowledge{
    width: 90%;
    margin: 0 auto;
    
}

.framework{
    text-decoration: black;
}

.fa-js-square, .fa-php, .fa-symfony, .fa-react{
    font-size: 60px;
}

.ck{
    font-size: 50px;
    text-align: center;
}

.js, .php, .ajax, .python, .html, .framework, .symfony, .react {
    margin-right: 60px;
    font-family: 'Ibarra Real Nova', serif;
}

.ls{
    margin-bottom: 30px;
}

.german, .english {
    display: inline-block;
    height: 15px;
    width: 100px;
    border: 1px solid black;
    background-color: rgb(241, 174, 16);
    margin-left: 30px; 
}

.visible{
    display: none;
    width: 550px;
    height: 450px;
}

p{
    font-size: 20px;
}

.logistics, .kwowhow, .languages, .pro{
    display: block;
}

button{
    display:inline-block;
    background-color: rgb(243, 141, 8);
    height: 75px;
    border: 0;
    color: white;
    font-size: 25px;
    width: 5%;
   
}

.prof, .know, .language, .formation{
    width: 85%;
    margin: 0 auto;
    border: 1px solid rgb(243, 141, 8);
    margin-bottom: 30px;
    background-color: rgb(251, 245, 232);;
    font-family: 'Ibarra Real Nova', serif;
   
}

*{
    box-sizing: border-box;
}

#f, #p , #c, #l{
  
    display: inline-block;
    height: 75px;
    line-height: 75px;
    width: 100%;
    margin: 0 auto;
    font-size: 30px;
    padding-left: 30px;
    color: rgb(243, 141, 8);

    font-family: Arial, Helvetica, sans-serif;
   
}

.part{
    display: flex;
}

.button{
    margin-top: 30px;
}

.inside_button{
    display: flex;
    flex-direction: column;
}

.rest, .rest1{
    height: 15px;
    width: 20px;
    border: 1px solid black;
    display: inline-block;
}

.rest2{
    height: 15px;
    width: 40px;
    border: 1px solid black;
    display: inline-block;
}

.rest3{
    height: 15px;
    width: 60px;
    border: 1px solid black;
    display: inline-block;
}

.spanish {
    display: inline-block;
    height: 15px;
    width: 80px;
    border: 1px solid black;
    background-color: rgb(241, 174, 16);
    margin-left: 30px; 
}

img{
    width: 55px;
    height: 50px;
    margin:0;
}

.russian {
    display: inline-block;
    height: 15px;
    width: 60px;
    border: 1px solid black;
    background-color: rgb(241, 174, 16);
    margin-left: 30px;
}

.de, .en, .es, .ru{
    display: inline-block;
    width: 100px;
    margin: 0;
    padding: 0;
}

#slider {
    width: 950px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 4px;
  }
  
#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    width: 950px;
    height: 600px;
    list-style: none;
}
#slider ul li {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    margin: 0;
    padding: 0;
    width:  950px;
    height: 500px;
    background: rgb(255, 255, 255);
    text-align: center;
  }
  
a.control_prev, a.control_next {
    position: absolute;
    top: 42%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #c7c7c7;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
  }
  
a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}
  
a.control_prev {
    border-radius: 0 2px 2px 0;
}
  
a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
}
}